.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px;
	display:flex;
	justify-content: center;
	align-items: center;
	

}


footer {
	padding: 10px 10px 10px 20px;
	background-color: yellow;
	margin-bottom: 0px;
	margin_top: 10px;

}

.card-musica{
	flex: 1 200px;
	margin-top: 10px; 
}

.btn-reserva {
	width: 100%;
	border-radius:0 px; 
	
}

.footer-address-icon {
	padding-right: 10px;
}

.space-icon {
	padding-right: 10px;
}

.tab-content{
	padding-top:10px; 
}


