
@yellow: #fffa19;
@green: #46ff33;
@red: #ff3633;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.color(@color){
  color: @color;
}




.jumbotron {
  background-color: @yellow;
  .color(black);
  .margenes(50px, 0px);
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  .padding(10px, 10px, 10px, 20px);
  background-color: @green;
  .margenes(10px, 0px);
 }

.card-musica {
  flex: 1 200px;
  .margenes(10px, 0px);
  background-color: @yellow; }

.btn-reserva {
  width: 100%;
  border-radius: 0 px;
  background-color: @red;
   .color(black); }

.footer-address-icon {
  padding-right: 10px; }

.space-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
