.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #46ff33;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-musica {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #fffa19;
}
.btn-reserva {
  width: 100%;
  border-radius: 0 px;
  background-color: #ff3633;
  color: black;
}
.footer-address-icon {
  padding-right: 10px;
}
.space-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
