$yellow: #fffa19;
$red: #ff3633;
$green: #46ff33;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

@mixin color($color){
	color: $color;
}





.jumbotron{
	background-color: $yellow;
	@include color(black);
	@include margenes (50px, 0px);
	display:flex;
	justify-content: center;
	align-items: center;
	
}


footer {
	@include padding (10px, 10px, 10px, 20px);
	background-color: $green;
	@include margenes (10px, 0px);
}

.card-musica{
	flex: 1 200px;
	@include margenes (10px, 0px);
	background-color: $yellow;

	 
}

.btn-reserva {
	width: 100%;
	border-radius:0 px; 
	background-color: $red;
	@include color(black);
	
}

.footer-address-icon {
	padding-right: 10px;
	

}

.space-icon {
	padding-right: 10px;
}

.tab-content{
	padding-top:10px; 
}
